@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  box-sizing: border-box;
  box-shadow: none;
}

.main-container {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 1.5rem;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 8%);
}

.feedback {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.9375rem;
  background-color: hsla(213, 19%, 18%, 0.82);
}
.feedback--inactive {
  display: none;
}
.feedback_header {
  display: grid;
  place-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: 100%;
  border-radius: 100%;
  background-color: hsla(217, 12%, 63%, 0.1);
}
.feedback_header img {
  width: 2.5rem;
  padding: 0.8rem;
}
.feedback_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 100%, 100%);
}
.feedback_description {
  max-width: 35ch;
  padding-block-start: 1rem;
  padding-block-end: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}
.feedback_buttons-list {
  display: flex;
  justify-content: space-between;
  padding-block-end: 1rem;
  list-style: none;
}
.feedback_button {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 100%;
  font-size: 0.875rem;
  color: hsl(217, 12%, 63%);
  background-color: hsla(217, 12%, 63%, 0.1);
}
.feedback_button:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
}
.feedback_button--active {
  background-color: hsl(0, 100%, 100%);
  color: hsl(216, 12%, 8%);
}
.feedback_submit-button {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 850;
  font-style: normal;
  min-width: 100%;
  margin-block: 0.5rem;
  padding-block: 0.875rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 5rem;
  color: hsl(216, 12%, 8%);
  background-color: hsl(25, 97%, 53%);
}
.feedback_submit-button:hover {
  background-color: hsl(0, 100%, 100%);
}

.alert {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  border-radius: 0.9375rem;
  background-color: hsla(213, 19%, 18%, 0.82);
}
.alert--inactive {
  display: none;
}
.alert_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;
}
.alert_user-rating {
  font-size: 0.875rem;
  padding-inline: 0.8rem;
  padding-block-start: 0.4rem;
  padding-block-end: 0.2rem;
  border-radius: 5rem;
  background-color: hsla(217, 12%, 63%, 0.1);
  color: hsl(25, 97%, 53%);
}
.alert_section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 0.9375rem;
}
.alert_title {
  font-size: 1.5rem;
  color: hsl(0, 100%, 100%);
}
.alert_description {
  max-width: 35ch;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 765px) {
  .feedback {
    padding-inline: 2rem;
    padding-block-start: 2rem;
    row-gap: 2.4rem;
  }
  .feedback_title {
    font-size: 1.72rem;
  }
  .feedback_button {
    font-size: 0.9375rem;
  }
  .alert {
    padding-inline: 1.5rem;
    padding-block: 2.5rem;
  }
  .alert_header {
    row-gap: 2rem;
  }
  .alert_title {
    font-size: 1.72rem;
  }
  .alert_description {
    font-size: 0.9375rem;
  }
}/*# sourceMappingURL=style.css.map */